body {
    background-color: #1b1b1b;
    color: #f0f0f0;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 1rem;
}

/* .heading {
    width: 100%;
    display: flex;
} */

h1 {
    font-size: 5vw;
}

.box > * {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: -1rem;
}

a {
    color: #e7afef;
}

/* .box {
    text-decoration: none;
    border-radius: 8px;
    transition: all 100ms ease;
    background-color: #5c3d5e;
} */

/* .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    width: 60em;
} */

textarea {
    width: 100%;
    margin-bottom: 1em;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 900px;
} */

.masonry-with-columns {
    columns: 6 200px;
    column-gap: 1rem;
}

.box {
    width: 150px;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border-radius: 8px;
    transition: all 100ms ease;
    background-color: #5c3d5e;
}
