* {
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #1b1b1b;
    color: #f0f0f0;
    margin: 0;
    padding: 1rem;
}

.main-section {
    margin: 0 auto;
    max-width: 50em;
}

h1 {
    font-size: max(5.5vw, 2em);
    text-align: center;
}

@media (max-width: 565px) {
    h1 {
        text-align: left;
    }
}

input {
    background-color: #1b1b1b00;
    color: #f0f0f0;
    border-radius: 10px;
    border: none;
    padding: 0.2rem;
    /* margin-bottom: 0.5em; */
}

input.primary-field {
    font-size: 2em;
    font-weight: 800;
}

input:focus,
input:focus-visible {
    outline: none;
    /* background-color: #4b4b4b; */
}

textarea {
    font-size: 1em;
    font-weight: 400;
}

/* .heading {
    width: 100%;
    display: flex;
} */

.box > * {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: -1rem;
}

a {
    color: #e7afef;
}

/* .box {
    text-decoration: none;
    border-radius: 8px;
    transition: all 100ms ease;
    background-color: #5c3d5e;
} */

/* .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    width: 60em;
} */

textarea {
    width: 100%;
    background-color: #1b1b1b00;
    color: #f0f0f0;
    border-radius: 10px;
    border: none;
    padding: 0.2rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    resize: none;
}

textarea:focus,
textarea:focus-visible {
    outline: none;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 900px;
} */

.masonry-with-columns {
    columns: 4 200px;
    column-gap: 1rem;
}

.box {
    width: 150px;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 100ms ease;
    background-color: #5c3d5e;
}

form {
    width: 100%;
    padding-left: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.6rem;
    background-color: #2b2b2b;
    border-radius: 0.5rem;
}

.submit {
    background-color: #d0d0d0;
    border-radius: 0.2rem;
}

.submit:hover {
    background-color: #f0f0f0;
}
