* {
    font-family: "Ubuntu", sans-serif;
    outline: none;
}

body {
    background-color: #1b1b1b;
    color: #f0f0f0;
    padding: 1rem;
}

.main-section {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 60rem;
}

.main-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

h1 {
    font-size: clamp(2em, 5.5vw, 6em);
    text-align: center;
}

h2 {
    font-size: 1.75rem;
}

@media (max-width: 60rem) {
    h1 {
        text-align: center;
        font-size: max(10vw, 4em);
    }
}

input {
    background-color: #1b1b1b00;
    color: #f0f0f0;
    border-radius: 10px;
    border: none;
    padding: 0.2rem;
    width: 100%;
}

input.primary-field {
    font-size: 1.75rem;
    font-weight: 800;
}

input:focus,
input:focus-visible {
    outline: none;
    /* background-color: #4b4b4b; */
}

textarea {
    font-size: 1em;
    font-weight: 400;
}

/* .heading {
    width: 100%;
    display: flex;
} */

.box > * {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: -1rem;
}

a {
    color: #e7afef;
}

/* .box {
    text-decoration: none;
    border-radius: 8px;
    transition: all 100ms ease;
    background-color: #5c3d5e;
} */

/* .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
    width: 60em;
} */

textarea {
    width: 100%;
    background-color: #1b1b1b00;
    color: #f0f0f0;
    border-radius: 10px;
    border: none;
    padding: 0.2rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    resize: none;
}

textarea:focus,
textarea:focus-visible {
    outline: none;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 900px;
} */

.masonry-with-columns {
    columns: 3 18rem;
    column-gap: 1rem;
    max-width: 60rem;
    margin: auto;
}

.box {
    width: 100%;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 0.5rem;
    transition: all 100ms ease;
    background-color: #5c3d5e;
}

form {
    width: 100%;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.2em;
    padding-bottom: 0.6rem;
    background-color: #2b2b2b;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 60rem) {
    form {
        max-width: 30rem;
    }
}

.submit {
    background-color: #b690b9;
    border: none;
    border-radius: 10rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    float: right;
    /* margin-top: -0.2rem; */

    /* margin-left: 0.25rem; */
}

.submit:hover {
    background-color: #d8b2db;
}

.break * {
    transform: rotate(5deg) translateY(100vh);
    opacity: 0.8;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.break *:nth-child(3n) {
    transform: rotate(-10deg);
}

.mobile-text {
    display: none;
}

@media (max-width: 60rem) {
    .desktop-text {
        display: none;
    }
    .mobile-text {
        display: inline;
    }
}

button {
    cursor: pointer;
}

.field-popup {
    color: inherit;
    background-color: #5b5b5b;
    outline: none;
    border: 2px #7b7b7b solid;
    border-radius: 10px;
    flex-direction: column;
    align-items: left;
}

.field-popup::backdrop {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.5);
}

.field-popup > button {
    text-align: left;
    font-size: 1.5em;
    background-color: #1b1b1b;
    color: #ebebeb;
    border: 2px #3b3b3b solid;
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.field-popup {
    display: none;
}

.field-popup[open] {
    display: flex;
}

input[type="file"] {
    display: inline-block;
    background-color: #5b5b5b;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    aspect-ratio: 1;
    background-size: 100% 100%;
    box-sizing: border-box;
}
